*.rar
/Lection 2/Task_2/.vs/Task_2/FileContentIndex/c60f52e4-9704-4671-bced-e32e1f21fbeb.vsidx
/Lection 2/Task_2/.vs/Task_2/FileContentIndex/966ce298-3383-418d-b9d9-b2bb27d3c5a8.vsidx
/Lection 2/Task_2/.vs/Task_2/FileContentIndex/8d405797-9273-42a4-81e1-f075dba977a7.vsidx
/Lection 2/Task_2/.vs/Task_2/FileContentIndex/757f4a95-f2bc-49bd-9716-e2f6c0837a01.vsidx
/Lection 2/Task_2/.vs/Task_2/DesignTimeBuild/.dtbcache.v2
/Lection 2/Task_2/.vs/Task_2/v17/.futdcache.v2
